.packCover{
  height: auto;
  width: 6rem;
}
.openedCard{
  height: auto;
  width: 10rem;
  opacity: 1 !important;
}
.openedCardWrapper{
  /* margin-left: 3rem; */
  margin-left: -10rem;
  display: inline-block;
}
.packName{
  margin-left: 3rem;
}
.packListing{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.buyButton{
  background-color: aqua;
}
.buyButton, .packName, .packCost{
  margin-left: 3rem;
}
#openPackWrapper{
  background-color: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  flex-wrap: wrap;
}
#openPackWrapperFake{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: 0;
  display: none;
  z-index: 2;
}
#openPackList{
  width: auto;
  height: auto;
  margin-top: 20%;
}
body{
  overflow: hidden;
}
#done{
  background-color: grey;
  display: inline-block;
}
#doneWrapper{
  width: 100%;
  margin-bottom: 20%;
}
.rare, .legendary, .poatker{
  border-radius: .2rem;
}
.rare{
  box-shadow: 0 0 1rem 1rem rgba(0, 72, 255, .4);
}
.legendary{
  box-shadow: 0 0 1rem 1rem rgba(255, 238, 0, .4);
}
.patker{
  box-shadow: 0 0 1rem 1rem rgba(255, 238, 0, .4);
}
#redeem{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: aqua;
  margin: 1rem;
}
#redeemDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.hide{
  display: none !important;
}
#redeemDiv > form > h1{
  color: white;
}
.buyButton, #redeem, #done, .openedCard{
  cursor: pointer;
}
#redeemResults{
  color: red;
  display: none;
}
