.card{
  height: auto;
  width: 10rem;
}
.cardWrapper{
  display: inline-block;
  position: relative;
  margin-left: 1rem;
  margin-top: 1rem;
}
.count{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
}
.count > h1{
  color: white;
}
